* {
  background-color: #F4F4F6;
  font-size: 1em;
  color: #643207; 
  font-family: Montserrat, sans-serif;
}

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(100px, auto);
    row-gap: 10px;
    column-gap: 10px;
        
}

header {
    display: flex;
    border: 1px;
    border-color: black;
    justify-content: space-between;
    width: auto;
    grid-column: 1 / 4;
    grid-row: 1;
}

.nav {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

h1 {
  font-size: 4em;
  width: 50%;
  color: #A68524;
  font-family: sketchnote-square, sans-serif;
  font-weight: bold;
}

button {
  border-style: solid;
  border-color: #A68A56; 
  max-height: 4rem;
  margin-right: 5px;
  padding: 0em, 2em, 0em, 2em;
  font-weight: bold;
  background-color: #F2DE79;
  border-radius: 15%; 
}

button a {
    text-decoration: none;
}

button p {
    background-color: #F2DE79;
    color: #592D07;
    
}

h2 {
    font-size: 2rem;
    font-family: malaga;
}

.portfolio-list, .skill-list, .interest-list {
    display: static;
}

.pages {
    grid-column: 1 / 3;
    grid-row: 2;
    width: auto;
}

.about {
    grid-column: 2 / 4;
    grid-row: 2;
    width: auto;
}

footer {
    position: relative;
    bottom: 5px;
}

figure {
    width: 450px;
    height: 350px;
}

figure img {
    width: 400px;
    height: 300px;
}

figcaption {
    font-size: 12px;
    font-family: acumin-pro;
}

.arrow {
    position:relative;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    bottom: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
